* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: hsl(249, 92%, 15%);
    color: aqua;
    font-family: 'Poppins', sans-serif;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(249, 82%, 28%);
    height: 60px;

}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 23px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: antiquewhite;
}

nav ul li a:hover {

    color: rgb(104, 145, 234);
}

.right {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 190px;
    align-items: center;

}

.firstsection div {
    width: fit-content;
}

div.leftsection {
    font-size: 2.3rem;
    color: aliceblue;
    width: 435px;
    height: 200px;
    padding: 30px;

}

.btn {
    padding: 12px;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;

}

.btn a {

    color: white;
    text-decoration: none;
}

.rightsection img {
    width: 300px;
    margin: -20px;
}

.purple {
    color: rgb(160, 72, 203);
}

#element {
    color: rgb(160, 73, 204);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 1000px;

}

.right {
    display: flex;
}

.secondSection h1 {
    margin: 30px;
    font-size: 1.9rem;
}

.text-gray {
    margin: 30px;
    height: 20px;
}

.webdev {
    display: flex;
    width: 530px;
    height: 30px;
    margin: 84px;
    color: #ffe926;
    margin-left: -6px;
}

.rightsection img {
    width: 192px;
    margin: 14px;
    display: flex;
    align-content: center;
    float: right;
}

#element2 {
    color: rgb(160, 73, 204);
    margin: 30px;
    font-size: 1.9rem;
}

.appdev {
    display: flex;
    width: 483px;
    height: 8px;
    margin: -105px;
    float: right;
    color: #ffe926;
    margin-right: 20px
}

.leftsection img {
    width: 500px;
    margin: 35px;
    display: flex;
    align-content: center;
    float: left;
    margin-left: -126px;
}

.Newsection img {
    width: 357px;
    margin: 35px;
    float: right;
    display: flex;
    margin-top: 122px;
}

.viddev {
    display: block;
    width: 464px;
    height: 30px;
    margin: 52px;
    color: #ffe926;
    margin-left: 2px;
}


.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer-first {
    margin: 20px;
    color: rgb(245, 87, 87);
}

.footer-second ul li {
    list-style: none;
    margin: 20px;

}

.footer-second ul li a {

    text-decoration: none;
    color: beige;
}

.footer-second ul li a:hover {
    color: rgb(104, 145, 234);
}

.footer-second {
    color: beige;
}

.footer-Third ul li {
    list-style: none;
    margin: 20px;

}
.footer-Third ul li a {

    text-decoration: none;
    color: beige;
}

.footer-Third ul li a:hover {
    color: rgb(104, 145, 234);
}

.footer-Third {
    color: beige;
}

.instagram img {
    width: 48px;
    display: flex;
    float: right;
    margin-right: -67px;
    margin-top: 10px;
}

.linkedIn img {
    width: 24px;
    display: flex;
    float: left;
    margin-left: -11px;
    margin-top: 65px;
}

.gmail img {
    width: 24px;
    display: flex;
    float: left;
    margin-left: -22px;
    margin-top: 20px;
}

.whatsapp img {
    width: 26px;
    display: flex;
    float: right;
    margin-right: -56px;
    margin-top: 64px;
}

.footer-fourth {
    font-size: 0.8rem;
    display: flex;
    float: right;
    margin-right: 391px;
    color: rgb(167, 185, 201);
    animation: red cubic-bezier(0.075, 0.82, 0.165, 1) 2 cubic-bezier(0.175, 0.885, 0.32, 1.275) linear;

}

.c2 {
    margin-left: 57px;
    color: rgb(245, 87, 87);
}

.c3 {
    margin-left: 57px;
    color: rgb(245, 87, 87);

}

@media screen and (max-width:800px) {
    nav {
        display: block;
        /* justify-content: center; */
        align-items: center;
        background-color: hsl(249, 82%, 28%);
        height: fit-content;
        width: max-content;
    }


    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: hsl(249, 82%, 28%);
        height: 30px;

    }

    nav ul {
        display: flex;
    }

    nav ul li {
        margin: 0 10px;
        list-style: none;
        font-size: 01rem;
    }

    nav ul li a {
        text-decoration: none;
        color: antiquewhite;
    }

    .firstsection {
        display: flex;
        flex-direction: column-reverse;
        margin: 190px;
        align-items: center;

    }

    .leftsection {
        margin: 20px;
        padding: 20px;
    }

    .firstsection div {
        width: fit-content;
    }

    div.leftsection {
        font-size: 1.9rem;
        color: aliceblue;
        width: 435px;
        height: 200px;
        padding: 60px;

    }

    .right {
        display: flex;
        flex-direction: column-reverse;
    }
}
